.vs
.vscofig
.idea
clean-cache.bat
/Plugins/Developer/RiderLink
/Binaries/
/Build
/Saved/
/DerivedDataCache/
/Intermediate/
Blaster.sln.DotSettings
Content/Maps/Stylized_Egypt_Demo_BuiltData.uasset
Blaster.sln.DotSettings.user
